# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/

# Large ML files

*.h5
*.pt
*.bin


# Audio & Features
/data/
features/
dl_features/
models/
outputs/
checkpoints/

# Jupyter
.ipynb_checkpoints/
